@charset "UTF-8";
@media (max-width: 1440px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1200px) {
  #travel .travel--nature button {
    padding: 10px 56px !important;
    margin: 10px 0;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
  #header .header--nav__block a {
    display: none;
  }
  #animation .animation--store__moon h1 {
    font-size: 35px !important;
  }
  #animation .animation--store__moon2 h2 {
    font-size: 28px !important;
  }
  #paket .paket {
    flex-wrap: wrap;
  }
  #paket .paket--start p {
    font-size: 14px !important;
  }
}
@media (max-width: 992px) {
  #header .header {
    width: 86%;
  }
  #hero .hero--club h1 {
    margin-left: 18px;
  }
  #hero .hero--club p {
    padding: 15px 18px !important;
  }
  #miss .miss--fon {
    flex-direction: column;
  }
  #miss .miss h1 {
    margin-left: 20px;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
}
@media (max-width: 820px) {
  #zayavka .zayavka--cap__kaif input {
    width: 439px !important;
  }
  #zayavka .zayavka--cap__text h1 {
    font-size: 18px !important;
  }
  #footer .footer--company img {
    display: none;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #footer .footer--company__desc {
    flex-direction: column !important;
  }
  #paket .paket {
    flex-wrap: wrap;
  }
  #paket .paket--start p {
    font-size: 13px !important;
  }
  #animation .animation--store__moon h1 {
    font-size: 30px !important;
  }
  #animation .animation--store__moon2 h2 {
    font-size: 23px !important;
  }
  #animation .animation--store__moon3 h3 {
    font-size: 20px !important;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
}
@media (max-width: 650px) {
  #footer .footer--company img {
    left: -3px !important;
  }
  #zayavka .zayavka {
    flex-wrap: wrap;
  }
  #paket .paket--start p {
    font-size: 11px !important;
  }
  #travel .travel h1 {
    font-size: 31px !important;
  }
  #travel .travel--nature {
    flex-wrap: wrap;
  }
  #travel .travel--nature__image img {
    width: 117%;
  }
  #animation .animation h1 {
    font-size: 30px !important;
  }
  #animation .animation--store__moon h1 {
    font-size: 25px !important;
  }
  #animation .animation--store__moon2 h2 {
    font-size: 17px !important;
  }
  #animation .animation--store__moon3 h3 {
    font-size: 15px !important;
  }
  #process h1 {
    font-size: 26px !important;
  }
}
@media (max-width: 576px) {
  #zayavka .zayavka--cap__text {
    flex-wrap: wrap;
  }
  #footer .footer--company__desc {
    flex-direction: column !important;
  }
  #paket .paket--start p {
    font-size: 10px !important;
  }
  #travel .travel--nature__image img {
    width: 104%;
  }
}
@media (max-width: 450px) {
  #footer .footer--company__desc {
    flex-direction: column !important;
  }
  #footer .footer img {
    display: none;
  }
  #accor .accor {
    flex-wrap: wrap;
  }
  #accor .accor--photo h1 {
    font-size: 32px;
  }
  #zayavka .zayavka--slash h1 {
    font-size: 30px !important;
  }
  #zayavka .zayavka--cap__kaif input {
    width: 345px !important;
  }
  #zayavka .zayavka--cap__text h1 {
    font-size: 18px !important;
  }
  #paket .paket--start h1 {
    font-size: 30px !important;
  }
  #paket .paket--start p {
    font-size: 8px !important;
  }
  #animation .animation--store__moon {
    flex-wrap: wrap;
  }
  #animation .animation--store__moon2 {
    flex-wrap: wrap;
  }
  #animation .animation--store__moon3 {
    flex-wrap: wrap;
  }
  #format .format--job {
    width: 358px !important;
    height: 340px !important;
  }
  #format .format--job__camp {
    width: 341px !important;
  }
  #format .format--job__desc--blue {
    padding: 10px 13px !important;
  }
  .red {
    font-size: 25px !important;
  }
  #miss .miss--fon__man p {
    font-size: 12px !important;
    padding-left: 10px;
  }
  #header .header--nav__group--btn {
    padding: 10px 10px !important;
    font-size: 12px !important;
  }
  #hero .hero--club h1 {
    font-size: 32px !important;
  }
  #hero .hero--club p {
    font-size: 16px;
  }
  #miss .miss h1 {
    font-size: 25px !important;
  }
  #miss .miss--fon__man p {
    padding-left: 20px;
  }
  #miss .miss--fon__left {
    padding-left: 20px !important;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #footer .footer--company__desc {
    flex-direction: column !important;
  }
  #footer .footer img {
    display: none;
  }
  #header .header--nav__group--btn {
    display: none;
  }
  #hero .hero--club__bn {
    margin: 0 5px !important;
  }
  #format .format--job {
    width: 329px !important;
    height: 340px !important;
  }
  #format .format--job__camp {
    width: 314px !important;
  }
  #format .format--job__desc--blue {
    padding: 10px 3px !important;
  }
  #process .process--they {
    flex-direction: column;
  }
  #paket .paket--start p {
    display: none !important;
  }
  #zayavka .zayavka--slash h1 {
    font-size: 28px !important;
  }
  #zayavka .zayavka--cap__kaif input {
    width: 330px !important;
  }
  #zayavka .zayavka--cap__text h1 {
    font-size: 18px !important;
  }
  .red {
    font-size: 22px !important;
    padding-left: 10px !important;
  }
  #animation .animation h1 {
    font-size: 25px !important;
  }
  #animation .animation--store__moon3 h3 {
    font-size: 13px !important;
  }
  #hero .hero--club h1 {
    font-size: 25px !important;
  }
  #hero .hero--club p {
    padding: 5px 20px !important;
  }
  #hero .hero--club__bn {
    margin-left: 20px !important;
    padding: 9px 25px !important;
  }
  #hero .hero--club__bn1 {
    margin: 13px 20px !important;
    padding: 9px 25px !important;
  }
  #miss .miss--fon__man {
    width: 95% !important;
  }
  #miss .miss--fon__man img {
    width: 90% !important;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
}
@media (max-width: 375px) {
  #header .header--nav__group img {
    padding: 0 10px !important;
  }
  #zayavka .zayavka--slash h1 {
    font-size: 30px !important;
  }
  #zayavka .zayavka--cap__kaif input {
    width: 313px !important;
    height: 52px !important;
  }
  #zayavka .zayavka--cap__text h1 {
    font-size: 18px !important;
  }
  #accor .accor--photo h1 {
    font-size: 29px !important;
    padding-left: 73px !important;
  }
  #accor .accor--photo img {
    margin: 20px 106px !important;
  }
  #format .format--job {
    width: 286px !important;
    height: 330px !important;
  }
  #format .format--job__camp {
    width: 263px !important;
  }
  #format .format--job__desc--blue {
    display: none !important;
  }
  #hero .hero--club h1 {
    font-size: 25px !important;
  }
  #hero .hero--club p {
    padding: 5px 20px !important;
  }
  #hero .hero--club__bn {
    margin-left: 20px !important;
    padding: 9px 25px !important;
  }
  #hero .hero--club__bn1 {
    margin: 13px 20px !important;
    padding: 9px 25px !important;
  }
  #paket .paket--dollar__market h2 {
    width: 337px !important;
  }
  #miss .miss--fon__man {
    width: 95% !important;
  }
  #miss .miss--fon__man img {
    width: 90% !important;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
}
@media (max-width: 320px) {
  #header .header--nav__group img {
    display: none !important;
  }
  #header .header--nav__group--btn {
    display: none;
  }
  #travel .travel--nature__image img {
    width: 100%;
  }
  #travel .travel--nature button {
    display: none !important;
  }
  #travel .travel--nature__icon {
    flex-wrap: wrap !important;
    width: 300px !important;
  }
  #travel .travel--nature__country h2 {
    font-size: 17px !important;
  }
  #travel .travel--nature__country p {
    font-size: 9px !important;
  }
  #paket .paket--dollar {
    height: 437px !important;
  }
  #paket .paket--dollar__market h2 {
    width: 288px !important;
  }
  #paket .paket--dollar__market--doll h1 {
    font-size: 33px !important;
  }
  #zayavka .zayavka--slash h1 {
    font-size: 30px !important;
  }
  #zayavka .zayavka--cap__kaif input {
    width: 260px !important;
    height: 52px !important;
  }
  #zayavka .zayavka--cap__text h1 {
    font-size: 18px !important;
  }
  #zayavka .zayavka--cap__text button {
    width: 190px !important;
    margin-left: 20px !important;
  }
  #accor .accor--dem input.accordion + label {
    font-size: 17px !important;
  }
  #footer .footer--company__desc--none2__inp input {
    width: 220px !important;
  }
  #footer .footer--company__desc--none2__inp button {
    left: 55% !important;
  }
  #format .format--job {
    width: 243px !important;
    height: 340px !important;
  }
  #format .format--job__camp {
    width: 242px !important;
  }
  #format .format--job__desc--blue {
    padding: 10px 3px !important;
  }
  #miss .miss h1 {
    font-size: 23px !important;
  }
  #miss .miss--fon__left h3 {
    font-size: 12px !important;
  }
  #miss .miss--fon__left h3 span {
    font-size: 12px !important;
  }
  #hero .hero--club p {
    font-size: 12px !important;
  }
  #hero .hero--right p {
    font-size: 11px !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
}

#header {
  background: #1E2024;
  padding: 20px 0;
}
#header .header--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--nav__block a {
  font-weight: 500;
  font-size: 14px;
  color: #9099A3;
  padding: 0 30px;
  transition: 0.4s;
}
#header .header--nav__block a:hover {
  color: #FFFFFF;
  text-decoration-line: underline;
  transform: scale(1.1);
}
#header .header--nav__group {
  display: flex;
}
#header .header--nav__group img {
  padding: 0 30px;
}
#header .header--nav__group--btn {
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  padding: 10px 25px;
  border-radius: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.4s;
}
#header .header--nav__group--btn:hover {
  background: transparent;
  transform: scale(1.1);
  color: blue;
}

#hero {
  background: url("../img/fon.png") no-repeat center/cover;
  min-height: 100vh;
}
#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px 0;
}
#hero .hero--club h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#hero .hero--club p {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  padding: 15px 0;
}
#hero .hero--club__bn {
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  padding: 10px 25px;
  border-radius: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.4s;
  margin: 0 10px;
}
#hero .hero--club__bn:hover {
  background: transparent;
  transform: scale(1.1);
  color: blue;
}
#hero .hero--club__bn1 {
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  padding: 10px 25px;
  border-radius: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.4s;
  box-shadow: none;
  color: #9099A3;
  border: 1px solid #9099A3;
  background: transparent;
}
#hero .hero--club__bn1:hover {
  background: transparent;
  transform: scale(1.1);
  color: blue;
}
#hero .hero--right {
  margin-top: -40px;
}
#hero .hero--right p {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

#miss {
  background: #1E2024;
}
#miss .miss {
  padding: 25px 0;
}
#miss .miss h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#miss .miss--fon {
  background: #FFFFFF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}
#miss .miss--fon__man p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #2C3E50;
}
#miss .miss--fon__left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #2C3E50;
  padding-bottom: 20px;
}
#miss .miss--fon__left span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #2C3E50;
  padding-top: 20px;
}
#miss .miss--fon__left h1 {
  font-weight: 700;
  font-size: 20px;
  color: #2C3E50;
  padding: 10px 0;
}
#miss .miss--fon__left h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #2C3E50;
}
#miss .miss--fon__left h3 span {
  padding-left: 15px;
}
#miss .miss--fon__left h5 {
  font-weight: 400;
  font-size: 14px;
  color: #2C3E50;
}
#miss .miss--fon__left h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2C3E50;
  padding: 5px 0;
}

#format {
  background: #1E2024;
}
#format h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#format .format {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#format .format--job {
  background: #FFFFFF;
  width: 450px;
  height: 270px;
  margin: 20px;
  border-radius: 15px;
  padding-left: 20px;
}
#format .format--job__camp {
  display: flex;
  justify-content: space-between;
  width: 425px;
  padding-top: 10px;
}
#format .format--job__desc h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2C3E50;
  padding: 7px 0;
}
#format .format--job__desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2C3E50;
  padding: 10px 0;
}
#format .format--job__desc--blue {
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 200px;
  transition: 0.4s;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 40px;
}
#format .format--job__desc ion-icon {
  padding-left: 10px;
}

.red {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

#travel {
  background: #1E2024;
  padding: 30px 0;
}
#travel .travel h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
}
#travel .travel--nature {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
#travel .travel--nature__image img {
  margin-bottom: -7.2px;
  object-fit: cover;
}
#travel .travel--nature__country {
  padding-top: 20px;
}
#travel .travel--nature__country h2 {
  font-weight: 700;
  font-size: 22px;
  color: #000000;
}
#travel .travel--nature__country p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 10px 0;
  color: #000000;
}
#travel .travel--nature button {
  padding: 10px 138px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  border-radius: 15px;
  margin-left: 85px;
  transition: 0.4s;
  margin-top: 50px;
}
#travel .travel--nature button:hover {
  transform: scale(1.1);
  background: transparent;
  color: blue;
}
#travel .travel--nature__icon {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
#travel .travel--nature__icon p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0 20px;
  color: #000000;
}
#travel .travel--nature__icon p span {
  padding-left: 14px;
}
#travel .travel--nature__icon p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

#animation {
  background: #1E2024;
}
#animation .animation--hi h1 {
  font-weight: 900;
  font-size: 36px;
  color: #FFFFFF;
  margin-left: 50px;
  padding: 20px 0;
}
#animation .animation--store__moon {
  display: flex;
  justify-content: space-between;
}
#animation .animation--store__moon h1 {
  font-weight: 900;
  font-size: 50px;
  color: #FFFFFF;
  animation: moon 2s ease-in-out alternate;
}
@keyframes moon {
  0% {
    transform: translateX(1100px);
  }
  100% {
    transform: translateX(0);
  }
}
#animation .animation--store__moon2 {
  display: flex;
  justify-content: space-between;
}
#animation .animation--store__moon2 h2 {
  font-weight: 900;
  font-size: 36px;
  color: #FFFFFF;
  animation: moon2 2s ease-in-out alternate;
}
@keyframes moon2 {
  0% {
    transform: translateX(-1100px);
  }
  100% {
    transform: translateX(0);
  }
}
#animation .animation--store__moon3 {
  display: flex;
  justify-content: space-between;
}
#animation .animation--store__moon3 h3 {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  animation: moon3 2s ease-in-out alternate;
}
@keyframes moon3 {
  0% {
    transform: translateY(-500px);
  }
}

#process {
  background: #1E2024;
  padding-top: 40px;
}
#process h1 {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}
#process .process {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}
#process .process--we__1 {
  margin-left: -12px;
}
#process .process--we img {
  margin-left: 40px;
}
#process .process--we h2 {
  font-weight: 900;
  font-size: 16px;
  color: #FFFFFF;
}
#process .process--we p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10px 0;
}
#process .process--they {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
}
#process .process--they__he--she {
  margin-left: -11px;
}
#process .process--they__he img {
  margin-left: 40px;
}
#process .process--they__he h2 {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
#process .process--they__he p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10px 0;
}

#paket {
  background: #1E2024;
  padding-top: 50px;
}
#paket .paket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
#paket .paket--start h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
}
#paket .paket--start p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 0;
}
#paket .paket--dollar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 15px;
  padding-left: 20px;
  width: 330px;
  height: 350px;
  margin: 10px 0;
  transition: 0.4s;
  position: relative;
}
#paket .paket--dollar:hover {
  transform: scale(1.1);
  background: #000000;
  cursor: all-scroll;
}
#paket .paket--dollar__market h3 {
  font-weight: 700;
  font-size: 16px;
  color: #2C3E50;
}
#paket .paket--dollar__market h2 {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  background: #1A5CFF;
  border-radius: 15px 15px 0 0;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 350px;
  height: 23px;
}
#paket .paket--dollar__market--doll {
  display: flex;
  align-items: end;
}
#paket .paket--dollar__market--doll h1 {
  font-weight: 700;
  font-size: 36px;
  color: #2C3E50;
}
#paket .paket--dollar__market--doll h5 {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: line-through;
  color: #9099A3;
}
#paket .paket--dollar__market--year {
  padding: 10px 20px;
  background: #9099A3;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  transition: 0.4s;
}
#paket .paket--dollar__market--year:hover {
  background: transparent;
  transform: scale(1.1);
  color: blue;
}
#paket .paket--dollar__market--foll {
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  padding: 10px 25px;
  border-radius: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.4s;
  background: #2C3E50;
  margin: 10px;
  padding: 15px 60px;
  transform: none;
}
#paket .paket--dollar__market--foll:hover {
  background: transparent;
  transform: scale(1.1);
  color: blue;
}
#paket .paket--dollar__market p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2C3E50;
  padding: 10px 0;
}
#paket .paket--dollar__market h6 {
  font-weight: 500;
  font-size: 16px;
  color: #2C3E50;
  text-align: center;
}

#zayavka {
  background: #1E2024;
  padding-top: 50px;
}
#zayavka .zayavka {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#zayavka .zayavka--slash h1 {
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
#zayavka .zayavka--slash p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9099A3;
}
#zayavka .zayavka--cap__kaif {
  margin: 15px 0;
  position: relative;
}
#zayavka .zayavka--cap__kaif h4 {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
}
#zayavka .zayavka--cap__kaif input {
  width: 616px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding-left: 30px;
  color: white;
  border: none;
  outline: none;
}
#zayavka .zayavka--cap__kaif img {
  position: absolute;
  top: 45px;
  left: 1%;
}
#zayavka .zayavka--cap__text {
  display: flex;
}
#zayavka .zayavka--cap__text h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 30px 20px;
}
#zayavka .zayavka--cap__text button {
  width: 220px;
  height: 50px;
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  border-radius: 15px;
  margin-left: 85px;
  transition: 0.4s;
  margin-top: 20px;
}
#zayavka .zayavka--cap__text button:hover {
  transform: scale(1.1);
  background: transparent;
  color: blue;
}

#accor {
  background: #1E2024;
  padding-top: 70px;
}
#accor .accor {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#accor .accor--photo h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
#accor .accor--photo img {
  margin: 20px 50px;
}
#accor .accor--dem input.accordion {
  appearance: none;
  left: -100%;
  position: absolute;
}
#accor .accor--dem input.accordion + label {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding-left: 25px;
  color: #FFFFFF;
}
#accor .accor--dem input.accordion + label span::before {
  color: #45ADA8;
  content: "+";
  position: absolute;
  left: 0px;
}
#accor .accor--dem input.accordion ~ article {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  padding: 5px;
  padding-left: 25px;
  transition: height 500ms ease, opacity 500ms ease;
}
#accor .accor--dem input.accordion:checked + label span::before {
  content: "×";
}
#accor .accor--dem input.accordion:checked ~ article {
  height: 100%;
  opacity: 1;
  color: #9099A3;
}
#accor .accor--dem main {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
#accor .accor--dem h1 {
  font-size: 30px;
}
#accor .accor--dem section {
  border-bottom: 1px solid #45ADA8;
  padding-top: 30px;
  position: relative;
}
#accor .accor--dem section:first-of-type {
  padding-top: 0;
}

#footer {
  background: #1E2024;
  padding-top: 50px;
}
#footer .footer--company {
  position: relative;
}
#footer .footer--company img {
  position: absolute;
  top: 0;
  left: 0;
}
#footer .footer--company__desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: space-evenly;
}
#footer .footer--company__desc--none h1 {
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#footer .footer--company__desc--none h2 {
  font-weight: 400;
  font-size: 14px;
  color: #9099A3;
  padding: 10px 0;
}
#footer .footer--company__desc--none1 h1 {
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
}
#footer .footer--company__desc--none1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9099A3;
  padding: 10px 0;
}
#footer .footer--company__desc--none1 a ion-icon {
  background-color: #DADADA;
  color: #1E2024;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 18px;
  margin: 0 10px;
}
#footer .footer--company__desc--none2 h1 {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}
#footer .footer--company__desc--none2 h1 span {
  color: #1A5CFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
#footer .footer--company__desc--none2__inp {
  position: relative;
}
#footer .footer--company__desc--none2__inp input {
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  padding-left: 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin-top: 10px;
}
#footer .footer--company__desc--none2__inp button {
  background: #1A5CFF;
  box-shadow: 0 8px 20px rgba(26, 92, 255, 0.2);
  padding: 10px 25px;
  border-radius: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  transition: 0.4s;
  box-shadow: none;
  padding: 13px 25px;
  position: absolute;
  top: 9px;
  left: 66%;
}
#footer .footer--company__desc--none2__inp button:hover {
  background: transparent;
  transform: scale(1.1);
  color: blue;
}
#footer .footer--company__desc--none2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #9099A3;
  padding: 30px 0;
}
#footer .footer--pod {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#footer .footer--pod__imade {
  display: flex;
  align-items: center;
}
#footer .footer--pod__imade--visa {
  margin: 0 20px;
}
#footer .footer--pod h5 {
  font-weight: 400;
  font-size: 10px;
  color: #9099A3;
}

/*# sourceMappingURL=style.css.map */
